<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<title>Loan Repayment</title>

<link rel="stylesheet" type="text/css" href="./css/loan-repayment.css">
<script type="text/javascript" src="./js/loan-repayment.js"></script>
</head>
<body>
<body>
	<h3>Loan Repayment</h3>
	<div id="loan-repayment-form" class="form-container">
		<div>
			<div>
				<form action="" method="post">
					<div class="form-group">
						<label for="loanid">Loan ID:</label> <input type="number"
							class="form-control" id="loanid" placeholder="Enter loan ID"
							name="loanid" oninput=validateAndProcessAccountNumber() required>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</body>
<div id="resulttable"></div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</html>