<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Transaction List</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="./css/statement-page.css">
<script type="text/javascript" src="./js/statement-page.js"></script>
</head>
<body>
	<div id="div1">
		<h1>Transaction List</h1>
		<label for="accno">Enter Accno:</label> <input type="number"
			id="accno"> <br> <label for="selectOption">Select
			Option:</label> <select id="selectOption">
			<option value="accounts">Accounts</option>
			<option value="loans">Loans</option>
		</select> <br>
		<button onclick="fetchTransactions()">Get Transactions</button>
	</div>
	<div id="div2"></div>
</body>
</html>
