<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transaction List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function fetchTransactions() {
            var accno = $("#accno").val();
            var div2 = $("#div2");
            $.ajax({
                url: "statement",
                type: "GET",
				data:{accountId:accno},
                success: function(data) {
                    div2.html(data);
                },
                error: function(xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        }
    </script>
</head>
<body>
<div id="div1">
    <h1>Transaction List</h1>
    <label for="accno">Enter Accno:</label>
    <input type="number" id="accno">
    <button onclick="fetchTransactions()">Get Transactions</button>
</div>
<div id="div2">

</div>	
    
</body>
</html>
